<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>

<body>
    <h1>Todo List</h1>
    <div id="todo-table">
        <form>
            <input type="text" placeholder="Add new item...">
            <button type="submit">Add item</button>
        </form>
        <ul>
            <% for(var i=0; i<todos.length; i++){ %>
                <li>
                    <%= todos[i].item %>
                </li>
                <% } %>

        </ul>
    </div>

    <script src="/assets/todo-list.js"></script>
</body>

</html>